.page-top {
  display: flex;
  margin-top: 52px;
  padding-bottom: 73px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6FF
}
.page-main {
  height: auto;
  width: $full-width;
}
.page-main__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 70px;
  @media screen and (max-width: 865px) {
    display: flex;
    flex-direction: column;
  }
}
