.c-cuisine-item {
  padding-top: 71px;

  &__dish {
    display: flex;
    letter-spacing: .02em;
    font-family: RockwellStd-Light;
  }

  &__price {
    font-family: Muli-Bold;
    font-size: 16px;
    line-height: 1.5em;
    padding-left: 8%;
  }
}
