.menus-restaurant-main {
  max-width: 1300px;
  padding-top: 70px;
  padding-bottom: 91px;
  @media screen and (max-width: 865px) {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
.main-description {
  margin-bottom: 70px;
  @media screen and (max-width: 865px) {
    margin-bottom: 40px
  }
}
.description-content {
  margin-right: 21px;
  letter-spacing: .023em;
  font-weight: 300;
  height: auto;
  line-height: 1.5em;
  font-size: 21px;
  @media screen and (max-width: 865px) {
    font-size: 18px;
    margin-right: 0
  }
}
.panel-menu__cuisine {
  margin-bottom: 60px;
  width: $full-width;
  height: 90px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  box-sizing: border-box;
  @media screen and (max-width: 865px) {
    flex-direction: column;
    width: $full-width;
    height: auto;
    position: relative;
    margin: 0;
  }
}
.panel-menu__menu {
  background-color: $primary-color;
  color: $main-color;
  padding: 48px 70px 70px;
  @media screen and (max-width: 737px){
    padding: 20px 20px 30px;
  }
}