.c-btn {
  font-family: Muli-ExtraBold;
  cursor: pointer;
  background-color: inherit;
  color: $white-color;
  font-size: 16px;
  line-height: 1.5em;
  padding: 24px 20px;
  border: 4px solid $white-color;
  margin: 0 4px 10px;
  opacity: 0.2;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: 865px) {
    margin-bottom: 10px
  }

  &--active {
    opacity: 1;
  }
}
