.header {
  width: $full-width;
  position: relative
}
.container {
  max-width: $full-width;
}
.footer {
  width: $full-width;
  height: 280px;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 865px) {
    height: 150px
  }
}

.main-container, .head-title__temp, .menus-restaurant-main {
  margin: 0 auto;
  @media screen and (max-width: 1480px) {
    margin: 0 70px;
    @media screen and (max-width: 1055px){
      margin: 0 50px;
      @media screen and (max-width: 736px) {
        margin: 0 calc(20px + (65 - 40)*((100vw - 320px) / ( 736 - 320)));
        @media screen and (max-width: 672px) {
          margin: 0 20px
        }
      }
    }
  }
}

.description-content {
  width: 745px;
  @media screen and (max-width: 1105px){
    width: auto;
    @media screen and (max-width: 865px) {
      width: 745px;
      @media screen and (max-width: 845px) {
        width: auto;
        @media screen and (max-width: 735px) {
          width: 605px;
          @media screen and(max-width: 672px) {
            width: auto
          }
        }
      }
    }
  }
}