.o-button-container, .head-title__temp, .menus-restaurant-main {
  margin: 0 auto;
  @media screen and (max-width: 1480px) {
    margin: 0 70px;
    @media screen and (max-width: 1055px){
      margin: 0 50px;
      @media screen and (max-width: 736px) {
        margin: 0 calc(20px + (65 - 40)*((100vw - 320px) / ( 736 - 320)));
        @media screen and (max-width: 672px) {
          margin: 0 20px
        }
      }
    }
  }
}
.description-content {
  width: 745px;
  @media screen and (max-width: 1105px){
    width: auto;
    @media screen and (max-width: 865px) {
      width: 745px;
      @media screen and (max-width: 845px) {
        width: auto;
        @media screen and (max-width: 735px) {
          width: 605px;
          @media screen and(max-width: 672px) {
            width: auto
          }
        }
      }
    }
  }
}
.c-button {
  font-size: 50px;
  margin-right: 59px;
  margin-top: 20px;
  @media screen and (max-width: 1055px) {
    font-size: 42px;
    margin-top: 20px;
    @media screen and (max-width: 865px) {
      margin-top: 15px;
      margin-right: 29px;
      @media screen and (max-width: 735px) {
        font-size: 38px;
        margin-top: 18px;
        @media screen and (max-width: 320px) {
          font-size: 28px;
          margin-right: 20px;
        }
      }
    }
  }
}
