.description-content {
  width: 745px;
  @media screen and (max-width: 1105px){
    width: auto;
    @media screen and (max-width: 865px) {
      width: 745px;
      @media screen and (max-width: 845px) {
        width: auto;
        @media screen and (max-width: 735px) {
          width: 605px;
          @media screen and(max-width: 672px) {
            width: auto
          }
        }
      }
    }
  }
}
