$font-stack:    RockwellStd-Light, RockwellStd, serif;

$full-width: 100%;

$white-color: #fff;
$dark-orange-color: #1f1917;
$dark-brown-color: #140906;
$opal-grey-color: #a59e9e;
$light-gray-color: #d6d6d6;
